@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


body{
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    background-color: rgb(244, 244, 244);
    margin: 0px;
}

header{
    text-align: center;
    align-content: center;
    background-color: rgb(52, 37, 255);
    box-shadow: 15px 10px 10px rgba(1, 0, 88, 0.301);
    color: white;
    font-size: 30px;
}

form{
    width: 20%;
    position: absolute;
    top: 200px;
    padding: 30px;
}

.label{
    margin-left: 5px;
    display: inline-block;
    width: 400px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.introducir{
    width: 385px;
    height: 35px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgba(46, 31, 255, 0.973);
    box-shadow: 5px 5px 10px rgba(1, 0, 88, 0.3);
    font-size: 12pt;
    padding-left: 15px;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}

.textarea{
    width: 370px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgba(46, 31, 255, 0.973);
    box-shadow: 5px 5px 10px rgba(1, 0, 88, 0.3);
    font-size: 12pt;
    padding: 15px;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}

select{
    width: 400px;
    min-height: 30px;
    border-radius: 15px;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    padding: 15px;
    font-weight: bold;
}

textarea{
    padding: 15px 10px;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    resize: none;

}

.boton{
    margin-top: 20px;
    background-color: rgba(46, 31, 255, 0.973);
    color: white;
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 50px;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: bold;
}

#formulario{
    background-color: antiquewhite;
    margin-left: 10%;
}

#foto{
    position: absolute;
    z-index: -1;
    right: 0px;
    top:250px;
    padding: 100px;
}

#foto img{
    width: 500px;
}
